* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    /* border: 1px solid white; */
    color: aliceblue;
    box-sizing: border-box;
}

a {
    color: rgb(103, 52, 174);
}


body {
    background-color: black;
}

#container {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 0% 0% 0%;
}

#main-content {
    height: 600px;
    width: 950px;
    box-sizing: border-box;
    display: flex;
    padding: 1%;
    background-color: rgba(31, 30, 30, 0.724);
    border-radius: 10px;
    /* border: 1px solid grey; */
}

#main-content-left {
    height: 580px;
    width: 440px;
    border-radius: 10px;
    flex-shrink: 0;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#main-content-right {
    height: 100%;
    width: 53%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: 95%;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: start;
    padding: 3% 13% 3% 17%;
    box-sizing: border-box;
}

#name {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}



input[type="text"] {
    height: 100%;
    width: 48%;
    border-radius: 5px;
    /* color: black; */
    /* opacity: 0.2; */
    background-color: rgb(102, 102, 102);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border: 2px solid black;
}

.search-input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
}

input[type="email"] {
    height: 10%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(102, 102, 102);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

input[type="password"] {
    height: 10%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(102, 102, 102);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

/* #checkbox label{
    height: 10%;
    width: 100%;
    font-size: 1rem;
} */

#checkbox {
    margin-bottom: 6%;
}

input[type="submit"] {
    height: 10%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(103, 52, 174);
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 5%;
}

input[type="submit"]:hover {
    background-color: blueviolet;
}

#button {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    color: aliceblue
}

button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* opacity: 0.5; */
    background-color: rgb(103, 52, 174);
    color: rgb(255, 255, 255);
    margin: 3px;

}

button:hover {
    background-color: blueviolet;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 7%;
}

#login {
    font-size: 1rem;
    margin-bottom: 2%;
}

#hr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

hr {
    width: 30%;
    height: 1px;
}

a:hover {
    color: blueviolet;
}

@media(max-width:955px) {
    #main-content-left {
        display: none;
    }

    #main-content-right {
        width: 488px;
        z-index: 1;
        margin: auto;
    }
}

@media(max-height:600px) {

    #main-content {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        padding: 1%;
        background-color: rgba(31, 30, 30, 0.724);
        border-radius: 10px;
        /* border: 1px solid grey; */
        flex-shrink: 0.5;
    
    }

    #main-content-left {
        height: 100%;
        width: 440px;
        border-radius: 10px;
        flex-shrink: 0;
    }


    #main-content-right {
        height: 100%;
        width: 53%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}