* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    border: 1px solid white;
}

body {
    background-color: black;
}

#container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

a {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 23%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

a:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom {
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}


















#center {
    width: 967px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: aqua;
    flex-shrink: 0;
}

#center-main {
    width: 967px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    /* justify-content: center; */
    /* align-content: center; */
    grid-template-rows: repeat(16, 275px);
    grid-template-columns: repeat(4, 241px);
    overflow: scroll;
    margin: auto;
    background-color: rgb(99, 67, 67);
    /* overflow-wrap: break-word; */
    overflow: scroll;
    padding-top: 50px;
}

.grid-box {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(96, 96, 96);
    border-radius: 5px;
    flex-shrink: 0;
}

img {
    width: 25px;
    height: 25px;
    margin-right: 13px;
}

.bars {
    display: flex;
}


#left-top img {
    display: none;
}

@media (max-width:1160px) {
    #right {
        display: none;
    }

}

@media (max-width:1210px) {
    #left {
        background-color: rgb(0, 0, 0);
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
        border-right: 0.5px solid rgb(64, 64, 64);
        flex-shrink: 0;
    }

    span {
        display: none;
    }

    #left-top img {
        display: inline-block;
    }
}

@media(max-width:1050px) {
    #center-main {
        width: 725px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        display: grid;
        /* justify-content: center; */
        /* align-content: center; */
        grid-template-rows: repeat(16, 275px);
        grid-template-columns: repeat(3, 241px);
        overflow: scroll;
        margin: auto;
        background-color: rgb(99, 67, 67);
        /* overflow-wrap: break-word; */
        overflow: scroll;
        padding-top: 50px;
    }

    #center {
    width: 725px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: aqua;
    flex-shrink: 0;
}
}

@media(max-width:805px) {
    #center-main {
        width: 484px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        display: grid;
        /* justify-content: center; */
        /* align-content: center; */
        grid-template-rows: repeat(16, 275px);
        grid-template-columns: repeat(2, 241px);
        overflow: scroll;
        margin: auto;
        background-color: rgb(99, 67, 67);
        /* overflow-wrap: break-word; */
        overflow: scroll;
        padding-top: 50px;
    }

    #center {
    width: 484px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: aqua;
    flex-shrink: 0;
}
}

@media(max-width:565px) {
    #center-main {
        width: 244px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        display: grid;
        /* justify-content: center; */
        /* align-content: center; */
        grid-template-rows: repeat(16, 275px);
        grid-template-columns: repeat(1, 241px);
        overflow: scroll;
        margin: auto;
        background-color: rgb(99, 67, 67);
        /* overflow-wrap: break-word; */
        overflow: scroll;
        padding-top: 50px;
    }

    #center {
    width: 244px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: aqua;
    flex-shrink: 0;
}
}


