* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
}

#container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#main-content-left {
    background-color: rgb(19, 24, 26);
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

#main-content-left-top {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 2rem;
}


#main-content-left-center {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 10% 3% 0% 0%;
    font-size: 1.3rem;
}

#main-content-left-center .bars {
    height: 9%;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35%;
    margin: 1% 2% 1% 5%;
}

#main-content-left-center .bars:hover {
    box-shadow: inset 2px 2px 40px rgb(29, 37, 40);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 12px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254, 0.5);
}

#main-content-left-bottom {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 15% 0%;
    font-size: 1.4rem;
}

#main-content-left-bottom .bars {
    width: 90%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    margin: 1% 1% 1% 3%;
    padding: 0% 0% 0% 35%;
}

#main-content-left-bottom .bars:hover {
    box-shadow: inset 2px 2px 40px rgb(29, 37, 40);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 12px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254, 0.5);

}