* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    background-color: black;
}

#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

a {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

a:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin:auto;
}
#main{
    width: 630px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}
.box{
    width:470px;
    height: 760px;
    background-color: rgb(0, 0, 0);
    flex-shrink: 0;
    margin: 4px;
    flex-shrink: 0;
}

#right{
    width: 383px;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.box-top{
    width: 100%;
    height: 9%;
}

.box-center{
    width: 100%;
    height:75% ;
    border: 1px solid grey;
    border-radius: 6px;
}

.box-bottom{
    width: 100%;
    height: 26%;
}
#main-top{
    width: 100%;
    height: 124px;
    background-color: rgb(0, 0, 0);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.circle{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    background-color: rgb(2, 3, 3);
    margin:8px;
    border: 1px solid rgb(106, 0, 255);
    flex-shrink: 0;
}