* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* border:1px solid white; */
    box-sizing: border-box;
}

body{
    background-color: black;
}

#login-container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* #login-container-top {
    height: 10%;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgb(122, 36, 36);
} */

#login-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87%;
    width: 40%;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}

#form {
    background-color: black;
    width: 550px;
    height: 600px;
    font-weight: 300;
    font-size: 2rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    padding: 80px 0px;
    background-image: url(https://rare-gallery.com/mocahbig/474973-Mojave-desert-purple-photography-nature-sky-sand.jpg);
    /* background-repeat:repeat; */
    background-size:cover;
    flex-shrink: 0;
    background-position: center;
}

input[type="text"] {
    width: 300px;
    height: 45px;
    margin: 90px 0px 7px 0px;
    background-color: rgb(0, 0, 0);
    font-size: 0.8rem;
    border: 0.1px solid rgb(144, 129, 157);
    padding: 0px 20px;
    flex-shrink: 0;
    color: aliceblue;
}

input[type="password"] {
    width: 300px;
    height: 45px;
    /* margin-bottom: 4%; */
    font-size: 0.8rem;
    background-color: rgb(0, 0, 0);
    border: 0.1px solid rgb(144, 129, 157);
    padding: 0px 20px;
    flex-shrink: 0;
    color: aliceblue;
}

legend {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 3px rgba(19, 17, 17, 0.5);
}

#login-container-bottom {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* text-align: end; */
    padding: 2%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

#bottom-top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 15%;
    margin: 0px 0px 10px 0px;
}

#bottom-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-bottom a{
    margin: 0px 25px;
}

/* #login-container-bottom a {
    color: aliceblue;
    margin: 20% 1% 2% 1%;
} */
a{
    margin: 5px;
}

button {
    width: 299px;
    height: 45px;
    font-weight: 500;
    margin: 50px 0px 20px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 52, 174);
    border-radius: 5px;
    flex-shrink: 0;
    border:1px solid rgb(42, 25, 58) ;
}

button:hover {
    background-color: blueviolet;
}

a:hover {
    text-decoration: dashed;
}