*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    /* border: 1px solid white; */
    color: aliceblue;
    box-sizing: border-box;
}
a{
    color:rgb(103, 52, 174);
}


body{
    background-color: black;
}

#container{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 0% 0% 0%;
}

#main-content {
    height: 600px;
    width: 950px;
    box-sizing: border-box;
    display: flex;
    padding: 1%;
    background-color: rgba(31, 30, 30, 0.724);
    border-radius: 10px;
    /* border: 1px solid grey; */
}

#main-content-left {
    height: 580px;
    width: 440px;
    border-radius: 10px;
    flex-shrink: 0;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#main-content-right{
    height: 100%;
  width:53%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height:95% ;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3% 13% 3% 17%;
    box-sizing: border-box;
}



input[type="text"] {
    height: 8.6%;
    width: 100%;
    border-radius: 5px;
    /* opacity: 0.2; */
    margin-top: 35px;
    background-color: rgb(102, 102, 102);
    padding-left: 10px;
    border: 2px solid grey;
    font-size: 1.2rem;
}

input[type="password"] {
    height: 8.6%;
    width: 100%;
    border-radius: 5px;
    /* opacity: 0.2; */
   background-color: rgb(102, 102, 102);
   padding-left: 5px;
   border: 2px solid grey;
   font-size: 1.2rem;
}


/* #checkbox{
    margin-bottom: 6%;
} */

input[type="submit"] {
    height: 8.6%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(103, 52, 174);
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top:55px ;
    border: 2px solid rgb(79, 0, 131);
    
}

input[type="submit"]:hover{
    background-color: blueviolet;
}

#search-input::placeholder{
    color: aliceblue;
    font-size: 0.9rem;
}


h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 45px 0% 0% 0%;
    text-align: center;
    /* margin-left: 30px; */
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover{
    color: blueviolet;
}

p{
    margin: 10px 0px 5px 0px;
}