* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    background-color: black;
}

#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

a {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

a:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}















#center{
    width: 600px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 0.1px solid rgb(59, 59, 59);
}

#right{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    
}

#center-top{
    height:40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgb(59, 59, 59);
}

#center-bottom{
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#right-top{
    height: 10%;
    width: 100%;
    border-bottom: 1px solid rgb(59, 59, 59);
}

#right-center{
    height: 80%;
    width: 100%;
    
}

#right-bottom{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(59, 59, 59);
}

.box{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.box-circle{
    width:60px;
    height: 80%;
    border-radius: 550px;
    margin: 0px 15px 0px 15px ;
    border: 1px solid rgb(106, 0, 255);
    flex-shrink: 0;
    
}

#center .box{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 13%;
    
}

search{
    width: 95%;
    height: 50%;
    border-radius: 50px;
    padding:10px  20px;
    margin: auto;
    border: 1px solid rgb(59, 59, 59);
    padding: 10px 20;
}

#center search{
    width: 95%;
    height: 50%;
    border-radius: 50px;
    padding:10px  20px;
    margin: auto;
    border: 0.1px solid rgb(59, 59, 59);
    padding: 20px;
}

#center-top-top{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 50%;
}

#center h3{
    width: 100%;
    height: 30%;
    text-align: start;
    padding: 10px;
    margin-bottom: 10px;
}

.center-top-circle{
    width: 80px;
    height: 80px;
    border: 1px solid rgb(106, 0, 255);
    border-radius: 50px;
    margin: auto 10px; 
}

#center-top-bottom{
    display: flex;
    align-items: center;
    margin: auto;

}
