* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    background-color: black;
}

#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

a {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 23%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

a:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}

#center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: start; */
    overflow: scroll;
}

.box-div{
    width: 1200px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    margin: 10px;

}

/* #center-top .box-div{
    width: 1200px;
    height: 60px;
    background-color: rgb(54, 102, 102);
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 10px;
} */


.circle{
    width: 50px;
    height:50px;
    border-radius: 50px;
    border: 2px solid rgb(106, 0, 255);
    margin: auto 20px;

}

#center-bottom{
    height: 80%;
    width: 100%;
    overflow: scroll;
    padding-top: 40px;
}

#center-top{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(65, 65, 65);
}

h2{
    margin: 40px 20px;
}

h5{
margin: 12px 20px;
}

#center-bottom h5{
    margin-bottom: 30px;
}


img{
    width: 25px;
    height: 25px;
    margin-right: 13px;
}

.bars{
    display: flex;
}


#left-top img{
    display: none;
}

@media (max-width:1160px) {
    #right{
        display: none;
    }
    
}

@media (max-width:870px){
    #left {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}
span{
    display: none;
}

#left-top img{
    display: inline-block;
}
}
