* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    background-color: black;
}

#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

a {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 23%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

a:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}



#center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin:auto;
    overflow: scroll;
    padding-top: 20px;
}
/* #main{
    width: 630px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    
} */

.box{
    width: 500px;
    height: 815px;
    display: flex;
    flex-shrink: 0;
    margin: 15px auto;
    
}

.box-left{
    width: 90%;
    height: 100%;
    border: 1px solid grey;
    
}

.box-right{
    width: 10%;
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.box-right-top{
    width: 100%;
    height: 60%;
}

.box-right-bottom{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h2:hover{
    box-shadow: inset 2px 2px 50px grey;
    border-radius: 500px;
}



img{
    width: 25px;
    height: 25px;
    margin-right: 13px;
}

.bars{
    display: flex;
}



#left-top img{
    display: none;
}

@media (max-width:1160px) {
    #right{
        display: none;
    }
    
}

@media (max-width:870px){
    #left {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}
span{
    display: none;
}

#left-top img{
    display: inline-block;
}
}


@media(max-width:940px){
    #center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin:auto;
    overflow: scroll;
    padding-top: 20px;
}
}

@media(max-width:600px){
    #left{
        display: none;
    }
}