* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    background-color: black;
}

#container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

.bars {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

.bars:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}

#center{
    width: 52%;
    height: 100%;
    border-right: 1px solid rgb(64, 64, 64) ;
}



.search {
  display: flex;
  align-items: center;
  border: 2px solid #bfb1b187;
  border-radius: 7px;
  padding: 5px;
  width: 97%;
  margin: 8% auto;

}

.input {
  flex-grow: 1;
  border: none;
  padding: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  margin-right: 5px;
  background-color: rgb(30, 30, 30);
}

.button {
  background-color: rgb(103, 52, 174);
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color:blueviolet;
  color: black;
}

















































#container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#main-content-left {
    background-color: rgb(0, 0, 0);
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);

}

#main-content-left-top {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 2rem;
}


#main-content-left-center {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 10% 3% 0% 0%;
    font-size: 1.3rem;
}

#main-content-left-center .bars {
    height: 9%;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35%;
    margin: 1% 2% 1% 5%;
}

#main-content-left-center .bars:hover {
    box-shadow: inset 2px 2px 40px rgb(29, 37, 40);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 12px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254, 0.5);
}

#main-content-left-bottom {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 15% 0%;
    font-size: 1.4rem;
}

#main-content-left-bottom .bars {
    width: 90%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    margin: 1% 1% 1% 3%;
    padding: 0% 0% 0% 35%;
}

#main-content-left-bottom .bars:hover {
    box-shadow: inset 2px 2px 40px rgb(29, 37, 40);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 12px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254, 0.5);

}