* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    background-color: black;
}

#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

a {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 23%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

a:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 660px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding-top: 60px;
    margin:auto;
    flex-shrink: 0;
    padding-left: 20px;

}

#right{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 30px;
}

textarea{
    background-color: black;
    width:300px;
    height: 45px;
    border-radius: 10px;
    padding: 9px;
    color: aliceblue;
}

.right-top{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 30px;
}

.right-circle{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid rgb(106, 0, 255);
    
}

h4{
    display: inline;

}
.right-top-box{
    display:flex ;
    justify-content: start;
    align-items: center;
    margin: 10px;
}


img{
    width: 25px;
    height: 25px;
    margin-right: 13px;
}

.bars{
    display: flex;
}

















.search-container {
  display: flex; 
  align-items: center; 
  width: 95%;
  /* border: 1px solid #858585; */
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  align-items: start;
}

.search-input {
  flex-grow: 1;
  width: 95%;
  height: 45px;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: #1d1d1d;
  padding: 5px;
  margin-bottom: 25px;
  padding-left: 15px;
  border: 2px solid rgb(106, 0, 255);
  border-radius: 5px;
}

.search-input::placeholder {
  color: #fdfdfd;
}

/* .search-button {
  background-color: rgb(106, 0, 255);
  color: white;
  border: none;
  width: 70px;
  height: 90%;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 4px;
  color: black;
  flex-shrink: 0;
  z-index: 1;
} */

.search-button:hover{
    background-color:rgb(136, 67, 255) ;
}



#left-top img{
    display: none;
}

@media (max-width:1060px) {
    #right{
        display: none;
    }
    
}

@media (max-width:900px){
    #left {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}
span{
    display: none;
}

#left-top img{
    display: inline-block;
}
}

@media(max-width:740px){

    #center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding-top: 60px;
    margin:auto;
    flex-shrink: 0;

}

}


li{
    margin: 20px;
}