* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    background-color: black;
}

#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
}

#left {
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#left-top {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    flex-shrink: 0;
}


#left-center {
    height: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 8% 0% 0% 0%;
    font-size: 1.3rem;
    flex-shrink: 0;
}

#left a {
    height: 50px;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30%;
    border-radius: 10px;
    margin: 1% 2% 1% 2%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

a:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254)0.37;
}

#left-bottom {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 4% 0%;
    font-size: 1.4rem;
    flex-shrink: 0;
}

#left-center-bottom{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
}


#center {
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    justify-content: start;
    text-align: start;
    padding: 26px 0px 0px 7px; 
    font-size: 1.1rem;
    font-weight: 500;
    overflow:scroll;
    background-color:rgb(0, 0, 0);
    border-right: 0.5px solid rgb(64, 64, 64);
    flex-shrink: 0;
}

#center .bars {
    height: 50px;
    width: 95%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5% 0 5% 5%;
    margin: 1%;
    font-weight: 500;
    flex-shrink: 0;
}

#center .bars:hover {
    box-shadow: inset 2px 2px 60px rgb(41, 51, 55);
    border: 1px solid rgb(37, 31, 31);
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#center p{
    margin: 5% 0% 5% 0%;
    color:rgb(103, 52, 174);
    font-size: 0.9rem;
    padding:0% 1% 0% 5%;
}

#center h2{
    margin:5% 0% 10% 5%;
    font-size: 1.5rem;
    font-weight: 900;
}

    