*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: aliceblue;
}

#container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

#main-content-left{
    height: 100%;
    width: 19%;
    /* border: 1px solid white;  */
    background-color: rgb(19, 24, 26);
    box-sizing: border-box;
}

#main-content-center{
    height: 100%;
    width: 19%;
    border: 1px solid white;
    overflow: scroll;
}

#main-content-center .bars{
    height:5%;
    width: 90%;
    background-color: rgb(62, 85, 85);
    margin: 2%;

}

#main-content-right{
    height: 100%;
    width: 62%;
    border: 1px solid white;
}






























































































































