*{
    background-color: black;
    border: 1px solid white;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing:border-box;
}

/* body{
    width: 100vw;
    height: 100vh;
} */

#container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 99vh;
    width: 100vw;

}

#left{
    background-color: rgb(37, 97, 97);
    width: 240px;
    height: 100vh;
}

#center{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}







































































































































































/* 
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
    border: 1px solid white;
}

body{
    background-color: black;
}

#container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 823px;
    width: 1510px;
}

#main-content-left {
    background-color: rgb(0, 0, 0);
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-right: 0.5px solid rgb(64, 64, 64);

}

#main-content-left-top {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-size: 2rem;
}


#main-content-left-center {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 10% 3% 0% 0%;
    font-size: 1.3rem;
}

#main-content-left-center .bars {
    height: 9%;
    width: 90%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35%;
    margin: 1% 2% 1% 5%;
}

#main-content-left-center .bars:hover {
    box-shadow: inset 2px 2px 40px rgb(29, 37, 40);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 12px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254, 0.5);
}

#main-content-left-bottom {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15% 2% 15% 0%;
    font-size: 1.4rem;
}

#main-content-left-bottom .bars {
    width: 90%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    margin: 1% 1% 1% 3%;
    padding: 0% 0% 0% 35%;
}

#main-content-left-bottom .bars:hover {
    box-shadow: inset 2px 2px 40px rgb(29, 37, 40);
    border: 1px solid rgb(29, 37, 40);
    border-radius: 12px;
    text-shadow: 2px 2px 10px rgba(255, 254, 254, 0.5);

}

#main-content-center{
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-right: 1px solid rgb(60, 52, 63);
}

#main-content-center-top{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 10%;
    border-bottom: 1px solid rgb(44, 39, 48);
}

#main-content-center-bottom{
    height: 85vh;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
}

.bottom-bars{
    width: 600px;
    height:700px;
    display: flex;
    flex-shrink:0;
    margin: 2%;

}

.bars-left{
    width: 85%;
    height: 100%;
    background-color: rgb(25, 10, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bars-right{
    width: 15%;
    height: 100%;
    background-color: rgb(62, 94, 94);
}

.bars-right-top{
    height: 30%;
    width: 100%;
}

.bars-right-bottom{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.circle{
    height: 100px;
    width: 100px;
    border: 3px solid rgb(57, 49, 61);
    border-radius: 999%;
    background-color: rgb(32, 45, 45);
    margin: 1%;
}

 */








